.App {
    margin-top: 20px;
    margin-right: 300px;
    margin-left: 100px;
    padding-left: 100px;
    border-style: solid;
    background-color: aqua;
    text-align: center;
}

.EditButton {
    color: white;
    background-color:blue;
}